<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<span class="border border-primary">
  <div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Login</h1><br>
      <form>
        <div class="mb-3 row">
          <div class="col-sm-10">
            <input type="text" name="user" placeholder="Username">
          </div>
        </div>
        <br>
        <div class="mb-3 row">
          <div class="col-sm-10">
            <input type="password" name="pass" placeholder="Password">
          </div>
        </div>
        <br>
        <div class="mb-3 row">
          <div class="col-sm-10">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>
</span>